:root .light-mode{
    --brand-primary	   : #0768AC;
    --brand-secondary  : #03C180;
    --bg_default	   : #1A1A1A;
    --bg_body	       : #282828;
    --lines-color	   : #000000;
    --body-text	       : #EDEDED;
    --heart-color	   : #DC143C;
}